body{
    border:1px solid gray;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#notebook{
    height: 700px;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    /* flex:auto 0 0; */
}

.side-bar{
    width: 20%;
    background-color: gray;

}

.main{
    width: 40%;
    background-color: gainsboro;
}

.main > *{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

.markdown{
    width: 40%;
    background-color: white;
}